<title>Todo App </title>
<h1>Todo App</h1>
<p>All your todos here</p>
<ul>
	<% @todo_items.each do |t| %>
	<li> <%= t.todo_item %> </li>
	<% end %>
</ul>

<br>
<br>
<a href="/todos/delete">Delete last todo</a>

